<div class="max-w-screen-lg mx-auto px-6 lg:px-10">
  <h1 class="text-4xl font-bold mb-6">LiveView Chat App</h1>
  <%# Uses custom class and css to give the appropiate height -> app.css#246 %>
  <div class="messages-box relative flex flex-col items-center w-full bg-white rounded-lg shadow px-5 border border-gray-300 lg:flex-row lg:items-start">
    <%= render "_topics.html", assigns %>
    <%= render "_messages.html", assigns %>
  </div>
  <!-- End of Container -->
</div>
